$light-gray: rgb(246, 246, 246);
$light-gray-2: rgb(253, 253, 253);
$dark-gray: rgb(205, 205, 205);
$dark-gray-2: rgb(230, 230, 230);
$green: rgb(50, 139, 88);
$dark-green: rgb(12, 101, 55);
$red: rgb(211, 80, 80);

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-BoldItalic.woff2') format('woff2'),
    url('./fonts/NotoSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Italic.woff2') format('woff2'),
    url('./fonts/NotoSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Bold.woff2') format('woff2'),
    url('./fonts/NotoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans.woff2') format('woff2'),
    url('./fonts/NotoSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(80, 80, 80);
}
* {
  box-sizing: border-box;
}
.title {
  background-color: $green;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.function-bar {
  border: 1px solid $dark-gray;
  padding: 8px 0 4px;
  display: flex;
  button {
    vertical-align: top;
    background: none;
    border: none;
    outline: none;
    color: $dark-gray;
    cursor: pointer;
  }
  .btn-del {
    padding: 3px 4px 0;
    font-size: 24px;
    &.active {
      color: $red;
    }
  }
  .btn-check {
    padding: 6px 4px;
    font-size: 16px;
    &.active {
      color: $green;
    }
  }
  input {
    outline: none;
    border: none;
    border-left: 1px solid $dark-gray;
    margin-left: 10px;
    padding: 0 10px;
    height: 26px;
    width: 100%;
  }
  span {
    display: flex;
    i {
      font-size: 22px;
      vertical-align: top;
      line-height: 30px;
    }
  }
}

.sheet {
  width: 100%;
  th {
    text-align: center;
    background: $light-gray;
    background: linear-gradient(0, $light-gray 0%, $light-gray-2 100%);
    font-size: 14px;
    padding: 4px 0;
    border-width: 1px;
    border-style: solid;
    border-color: $dark-gray-2;
    &.first {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: 8px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid $dark-gray;
        transform: rotate(135deg);
      }
    }
  }

  td {
    &:first-child {
      width: 30px;
      text-align: center;
      background: $light-gray;
      background: linear-gradient(0, $light-gray 0%, $light-gray-2 100%);
      font-size: 14px;
      padding: 4px 0;
      border-width: 1px;
      border-style: solid;
      border-color: $dark-gray-2;
      font-weight: bold;
    }
    .input {
      padding: 0 6px;
      height: 30px;
      width: 100%;
      outline: none;
      border: 1px solid $dark-gray;
      &.active {
        border: 1px solid $dark-green;
        outline: 1px solid $dark-green;
        border-radius: 3px;
      }
    }
    select {
      width: 100%;
      height: 30px;
    }
  }
}

.form {
  &__title {
    text-align: center;
    font-size: 32px;
    color: $green;
  }
  label {
    font-size: 16px;
    font-weight: bold;
  }
  p {
    max-width: 300px;
    margin: auto;
    display: flex;
    padding-top: 10px;
    label {
      width: 100px;
      line-height: 30px;
    }
    input {
      width: 200px;
      height: 30px;
    }
  }
  button {
    width: 100px;
    margin: auto;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    background-color: $green;
    color: #fff;
    border: none;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  .error {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    color: #f00;
  }
}

.kaputt {
  &:disabled {
    background-color: gray;
    opacity: 0.3;
  }
}

.dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $green;
  position: relative;
  z-index: 1;
  &:hover {
    z-index: 10;
  }
  li {
    position: relative;
    a {
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      display: block;
      padding: 4px 0;
    }
    ul {
      position: absolute;
      top: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      display: none;
      line-height: normal;
      background-color: #333;
      width: 100%;
      li {
        a {
          text-align: left;
          color: #fff;
          font-size: 14px;
          padding: 10px;
          display: block;
          white-space: nowrap;
          &:hover {
            background-color: $green;
            color: #ffffff;
          }
        }
        ul {
          left: 100%;
          top: 0;
        }
      }
    }
  }
}

ul li:hover > a {
  background-color: $green;
  color: #ffffff !important;
}

ul li:hover > ul {
  display: block;
}
